﻿@page
@model StockListRazor_1._2.Pages.StockList.CreateModel
<br />
<h2 class="text-info">Add New Stock</h2>
<br />

<div class="border container" style="padding:30px;">
	<form method="post">
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="form-group row">
			<div class="col-3">
				<label asp-for="Stock.Ticker"></label>							@*Adding Ticker symbol*@
			</div>
			<div class="col-6">
				<input asp-for="Stock.Ticker" class="form-control" />
			</div>
			<span asp-validation-for="Stock.Ticker" class="text-danger"></span>
		</div>


		<div class="form-group row">
			<div class="col-3">
				<label asp-for="Stock.Price"></label>							@*Adding Ticker Price*@
			</div>
			<div class="col-6">
				<input asp-for="Stock.Price" class="form-control" />
			</div>
			<span asp-validation-for="Stock.Price" class="text-danger"></span>
		</div>


		<div class="form-group row">
			<div class="col-3">
				<label asp-for="Stock.Ammount"></label>							@*Adding how many were bought, Post handler will push to database*@
			</div>
			<div class="col-6">
				<input asp-for="Stock.Ammount" class="form-control" />
			</div>
			<span asp-validation-for="Stock.Ammount" class="text-danger"></span>
		</div>


		<div class="form-group row">
			<div class="col-3 offset-3">
				<input type="submit" value="Create" class="btn btn-primary form-control" />
			</div>
			<div class="col-3">
				<a asp-page="Index" class="btn btn-success form-control">Back to List</a>
			</div>
		</div>
	</form>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />			@*Client side validation*@
}
