﻿@page
@model StockListRazor_1._2.Pages.StockList.IndexModel

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Stock List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Add New Stock</a>
    </div>


    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Stocks.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Stocks.FirstOrDefault().Ticker"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Books.FirstOrDefault().Author)*@
                            <label asp-for="Stocks.FirstOrDefault().Price"></label>
                        </th>
                        <th>
                            <label asp-for="Stocks.FirstOrDefault().Ammount"></label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Stocks)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Ticker)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Ammount)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No books available.</p>
            }
        </form>
    </div>


</div>

<div class="col-12" style="text-align:center">
        <br />
        <span class="h3 text-info">OR</span>
        <br /><br />
    </div>
    <div class="col-12 border p-3">

        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th> Price</th>
                    <th> Ammount</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

@section Scripts{ 
    <script src="~/js/stockList.js"></script>
}


