﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Andreas</h1>
    <p>This is your very creative and styalized home page</p>
</div>
